@font-face {
  font-family: "HarmonyOS Sans";
  font-weight: 300;
  src: url("/fonts/HarmonyOS_Sans_SC_Light.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS Sans";
  font-weight: 400;
  src: url("/fonts/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS Sans";
  font-weight: 500;
  src: url("/fonts/HarmonyOS_Sans_SC_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS Sans";
  font-weight: 700;
  src: url("/fonts/HarmonyOS_Sans_SC_Bold.ttf") format("truetype");
}
